body,
html {
    margin: 0;
    padding: 0;
}

header {
    background-color: #D8D8D8;
    box-sizing: border-box;
    padding: 25px;
}

#bluesquare {
    background-color: #4a90e2;
    height: 75px;
    width: 75px;
}

#textcontain p {
    padding: 25px;
    font-size: small;
}

.section {
    height: 25vh;
}

#blue {
    background-color: #4a90e2;
}

#aqua {
    background-color: #50e3c2;
}

#springgreen {
    background-color: #b8e986;
}

#yellow {
    background-color: #f8e71c;
}

#question {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

#question button {
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.479);
    color: white;
    border-radius: 50%;
    font-size: 30px;
}